# Porta onde o servidor será executado
PORT=3000

# Ambiente de execução
NODE_ENV=development

# Caminho do banco SQLite
DATABASE_PATH=./backend/database/louvor-inteligente.db
SITE_PASSWORD=852456
SESSION_SECRET=troque-por-uma-chave-longa-e-exclusiva
